<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload ="true" internalLogLevel="Trace" internalLogFile="logs/internalLog.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
            <!--屏幕打印消息-->
            <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}> ${message}"/>           
            <!--VS输出窗口-->
            <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />
            <!--保存至文件-->
            <target name="error_file" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/Logs/Error/${shortdate}/error.txt" layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
            <target name="info_file" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/Logs/info/${shortdate}/info.txt" layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
            <target name="custom_Info_file" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/Logs/Custom/${shortdate}/Log.txt" layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
            <target name="custom_Error_file" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/Logs/Custom/${shortdate}/error.txt" layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
      </targets>
      <rules>
            <!--<logger name="*" writeTo="console" />-->
            <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="debugger" />
            <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="error_file" />
            <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="info_file" />
            <logger name="Custom" minlevel="Debug" maxlevel="Info" writeTo="custom_Info_file" />
            <logger name="Custom" minlevel="Error" maxlevel="Fatal" writeTo="custom_Error_file" />
        
      </rules>
</nlog>
